img{
  height: 170px;
  width: 140px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(51, 34, 233, 0.906);
  
}
  
marquee{
  text-shadow:2px 3px 3px rgb(53, 169, 207);
  color: rgb(24, 138, 70);

}