
input {
    width: 60%;
    margin-left: 50px;
}

label {
    margin-left: 50px;
}
h4{
    margin-left: 600px;

}

form {
    padding: 5px;
    margin-left: 100px;
   
    margin-top: 40px;
    width: 80%;
    border-style: inset;
    border-radius: 10px;
    border-color: rgb(119, 236, 136);
    box-shadow: 2px 3px 4px rgb(102, 188, 219);
    background-color: rgb(240, 163, 227);
    
}

form:hover {
    color: rgb(227, 39, 45);
    background-color: rgb(247, 154, 182);
   
    
    transform:scale(1.2);

}

button {
    margin-left: 100px;
}

span {
    width: 60%;
    margin-left: 100px;
} 