img{
    height:150px;
    width:120px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(205, 90, 36, 0.906);
}
.prodimg{
    height:200px;
    width:200px;
    margin-left:40px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;

}
