
img{
    
    height:100px;
    width:100px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(220, 31, 189, 0.906);
}
marquee{
    text-shadow:2px 3px 3px rgba(251, 226, 3, 0.724);
    color:rgb(4, 4, 4);
    font-size: 28px;
}