marquee{
    text-shadow:2px 3px 3px rgba(0, 0, 0, 0.959);
    color:rgba(0, 0, 0, 0.075);
    font-size: 40px;
    box-shadow: 0 0 10px 5px rgba(17, 18, 15, 0.906);
}
img{
    
    height:150px;
    width:100px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(9, 15, 9, 0.906);
    
}


