marquee{
    text-shadow:2px 3px 3px rgba(3, 172, 251, 0.724);
    color:rgb(224, 68, 178);
    font-size: 28px;
    box-shadow: 0 0 10px 5px rgba(197, 233, 34, 0.906);
}
img{
    
    height:150px;
    width:100px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(190, 233, 34, 0.906);
    
}


