 
 <marquee> Contact Us</marquee>
 <div class="card col-lg-6" style="border:none;margin-top: 30px ;margin-left:280px;">
    <!-- <app-deals [product]="productItem" *ngFor="let productItem of all"></app-deals> -->
    <div class="card-body col-lg-12">
        <div class="row" style="margin-top:10px;border-style:solid;border-color:rgb(207, 16, 16); border-radius:15px;"
            *ngFor="let m of contact">
            <div class="col-lg-3">
                <!--Property Binding-->
                <img [src]="m.img">
            </div>
            <div class="col-lg-9" style="margin-top:20px;">
                <!--Interpolation Binding-->
                <div>
                    Employename: {{ m.ename | uppercase}}
                    
                </div>
                <hr>
                <div [hidden]="productDetail">
                    Employe Id: {{m.empid}}
                    <br>
                    Email id: {{m.emailid}}
                    <br>

                  
                    Phone Num: {{ m.ephone }}
                    <br>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!--3rd column-->
<div class="col col-lg-3">
    
<div class="col col-lg-3" *ngFor="let m of contact">
    <!--Property Binding-->
   
</div>
</div>

