
input {
    width: 60%;
    margin-left: 100px;
}

label {
    color:rgb(2, 2, 34);
    margin-left: 100px;
}

form {
    padding: 20px;
    margin-left: 500px;
    width: 40%;
    border-style: inset;
    border-radius: 10px;
    border-color: rgb(17, 29, 74);
    box-shadow: 2px 3px 4px rgb(0, 38, 255);
    background-color: rgb(168, 203, 211);
}

form:hover {
    color: rgb(177, 199, 55);
    background-color: rgb(83, 105, 92);
    transform:scale(1.1);

}

button {
    margin-left: 230px;
}

span {
    width: 100%;
}